.xCalendar{
    position: absolute;
    width:250px;
    font-size:16px;
    border: 1px solid #777;
    display:none;
    background: #fff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.xCalendar.fullscreen{
    border-radius: 5px;
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
    transition:0.6s;
    -webkit-transition:0.6s;

}
.xCalendar-top-panel{
    margin-top: 4%;
}
.xCalendar-top-panel .date-holder{
    line-height: 38px;
    width: 100%;
    text-align: center;
}
.xCalendar-top-panel .date-holder>div{
    display: inline-block;
    vertical-align: top;
    padding: 0 15px 0 5px;
    position: relative;
    border: 1px solid transparent;
    cursor: pointer;
}
.xCalendar-top-panel .date-holder>div:hover{

    border: 1px solid #87b23f;
}
.xCalendar-top-panel .date-holder>div:after{
    content:'';
    width:0;
    height:0;
    position: absolute;
    top: 40%;
    right: 5px;
    border: 4px solid rgba(0, 0, 0, 0);
    border-top: 6px solid #87B23F;
}

.xCalendar-switch-btn{
    width: 50px;
    height: 30px;
    position: absolute;
    top:5%;
    -webkit-user-select: none;
    -moz-user-select:none;
}
.xCalendar-switch-btn:before{
    width: 0;
    height: 0;
    display: block;
    margin: 0 auto;
    position: relative;
    top:10px;
    content: " ";
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.xCalendar-switch-btn.prev-month{
    left:0;
}
.xCalendar-switch-btn.next-month{
    right:0;
}
.xCalendar-switch-btn.prev-month:before{
    border-right: 8px solid #87B23F;
}
.xCalendar-switch-btn.prev-month.disabled:before{
    border-right:8px solid #999 !important;
}
.xCalendar-switch-btn.next-month.disabled:before{
    border-right: 0 !important;
    border-left:8px solid #999 !important;
}
.xCalendar-switch-btn.next-month:before{
    border-right: 0;
    border-left: 8px solid #87B23F;
}
.xCalendar-switch-btn.prev-month:hover:before{
    border-right: 8px solid #fff;
}
.xCalendar-switch-btn.next-month:hover:before{
    border-right: 0;
    border-left: 8px solid #fff;
}

.xCalendar-table-ctn{

    margin: 0 4% 4% 4%;

}
.xCalendar-table-ctn .xCalendar-wrap{
    width:100%;
    position: relative;
    overflow: hidden;
    height:226px

}


.xCalendar-table{
    width:100%;
    height:100% ;
    position: absolute;
    border-collapse: collapse;

    transition:top 0.6s ease 0s;

    background: #fff;
}
.xCalendar-table td{
    width:14%;
    position: relative;
}
.xCalendar-table.hide-thead thead{
    display: none;
}
.xCalendar-head-table{
    width:100%;
    margin-bottom:8px;
}
.xCalendar-head-table th{

    width: 51px;

    text-align: center;
}
.xCalendar-table .xCalendar-day{
    font-size: inherit;

    cursor: pointer;
    text-align: center;
    position: relative;
}


.xCalendar-table .xCalendar-day.xCalendar-day-outfocus{
    color:#ddd;
}
.xCalendar-table .xCalendar-day.xCalendar-day-outfocus:hover{
    color:#000;
}
.xCalendar-table td.xCalendar-day-today:before{
    content: " ";
    position: absolute;
    top: 2px;
    right: 2px;
    width: 0;
    height: 0;
    border-top: 6px solid #517414;
    border-left: 6px solid transparent;
}

.xCalendar-table .xCalendar-day.xCalendar-day-selected{
    background:#8CD98C ;
    color: #fff;
}
.xCalendar-table .xCalendar-day.xCalendar-day-disabled{
    color:#ddd;
    background: #f5f5f5;
    cursor: default;
}
.xCalendar-table .xCalendar-day.xCalendar-day-disabled:hover{
    color:#ddd;
    background: #f5f5f5;
}
.xCalendar-table .weekdays{
    color:#999;
    font-size:87.5%;
}
.xCalendar .month-panel{
    display: none;
    margin:10px 10px 20px 10px;
}
.xCalendar .year-panel{
    display: none;
    margin:10px 10px 20px 10px;
}


.xCalendar .month-panel >.month-block {
    display: inline-block;
    width: 32%;
    text-align: center;
    line-height: 35px;
    height: 35px;
    cursor: pointer;
    -moz-user-select:none;
    -webkit-user-select:none;
}

.xCalendar .year-panel >.year-block {
    display: inline-block;
    width: 32%;
    text-align: center;
    line-height: 35px;
    height: 35px;
    cursor: pointer;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.xCalendar .year-panel >.year-block:hover,.xCalendar .month-panel >.month-block:hover,.xCalendar-table td:hover,.xCalendar-switch-btn:hover{
    background: #87b23f;
    color:#fff;
}

.xCalendar .year-panel .panel-disabled,.xCalendar .month-panel .panel-disabled{
    color:#ddd;
    cursor: default;
}

.xCalendar .year-panel .panel-disabled:hover,.xCalendar .month-panel .panel-disabled:hover{
    color:#ddd;
    background: #fff;
}
.xCalendar-switch-btn.disabled:hover{
    background: transparent;

}
